<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/spectre/spectre.min.css">
    <link rel="stylesheet" href="/styles/spectre/spectre-exp.css">
    <link rel="stylesheet" href="/styles/spectre/spectre-icons.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/moderator/moderator-panel.css">
    <script src="/scripts/moderator-panel.js" defer></script>
    <title>Админ-панель</title>
</head>
<body>
<header class="navbar">
    <section class="navbar-left">
        <img src="/styles/icons/Impuls.svg" alt="Impuls-logo" title="Импульс">
    </section>
    <section class="navbar-section">
        <div class="user-info">
            <div class="user-card">
                <img src="/styles/icons/user.svg" alt="User Avatar" class="user-avatar">
                <div class="user-details">
                    <h2><?= $_SESSION['username'] ?></h2>
                </div>
            </div>
            <div class="dropdown-menu" id="dropdownMenu">
                <div class="dropdown-container">
                    <ul>
                        <li id="userProfileButton">Профиль</li>
                        <li id="settingsButton">Настройки</li>
                        <?php if($userInfo['role'] === 'admin' || 'moderator'): ?>
                        <a style="text-decoration: none" href="/admin-panel"><li>Админ-панель</li></a>
                        <?php endif ?>
                        <li class="exit-container">
                            <form method="post" action="/logout">
                                <button><img src="/styles/icons/logout.svg" alt="exit-icon" class="exit-icon"></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
<div class="profile">
    <div class="profile-container">
        <ul class="profile-container__user-info">
            <li><span><?= $userInfo['first_name'] ?> </span><span><?= $userInfo['surname'] ?></span></li>
            <li>Логин: <?= $userInfo['username'] ?></li>
            <li>Почта: <?= $userInfo['email'] ?></li>
            <li>Роль: <?= $userInfo['role'] ?></li>
        </ul>
    </div>
</div>
<main class="container grid-lg">
    <div class="panel-container">
        <div class="card">
            <div class="accordion">
                <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
                <label class="accordion-header" for="accordion-1">
                    <i class="icon icon-arrow-right mr-1"></i>
                    <span class="card-header"><strong>Обращения сотрудников:</strong> <span id="complaint-count"></span></span>
                </label>
                <div class="accordion-body complaints-accordion">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="accordion">
                <input type="checkbox" id="accordion-2" name="accordion-checkbox" hidden>
                <label class="accordion-header" for="accordion-2">
                    <i class="icon icon-arrow-right mr-1"></i>
                    <span class="card-header"><strong>Пользователи:</strong> <span id="user-count">0</span></span>
                </label>
                <div class="accordion-body users-accordion">
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    const userCard = document.querySelector(".user-card")
    const dropdownMenu = document.querySelector(".dropdown-menu")
    const overlay = document.createElement("div")
    const userProfileButton = document.querySelector("#userProfileButton")
    const userProfile = document.querySelector(".profile")

    overlay.classList.add("overlay")
    document.body.appendChild(overlay)

    userCard.addEventListener("click", (event) => {
        event.stopPropagation()
        dropdownMenu.classList.add("show")
        overlay.classList.add("show")
    })

    userProfileButton.addEventListener("click", (event) => {
        event.stopPropagation()
        userProfile.classList.add("show")
    })

    dropdownMenu.addEventListener("click", () => {
        userProfile.classList.remove("show")
    })

    overlay.addEventListener("click", () => {
        if (userProfile.classList.contains("show")){
            userProfile.classList.remove("show")
        }
        else if (dropdownMenu.classList.contains("show")){
            dropdownMenu.classList.remove("show")
            overlay.classList.remove("show")
        }
    })
</script>
</body>
</html>