.complaint-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    animation: fadeIn 1s ease-out;
}
.complaint-status, .complaint-form {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 25rem;
    padding: 1.5rem;
}

.tile-content{
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
}

.navbar-left{
    margin: 20px 0 0 20px;
}

.complaint-form{
    max-height: fit-content;
}

.exit-container{
    width: 50px;
    height: fit-content;
    padding: 5px;
}

.exit-icon{
    width: 5rem;
    aspect-ratio: 1;
}

.complaint-header{
    margin-bottom: 15px;
    color: #ffffff;
    text-align: center;
}

.form-in{
    background: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 8px;
    font-size: 16px;
}

.form-in option {
    background: rgba(40, 40, 40, 0.95);
    color: white;
}

.form-textarea {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    resize: none;
}

.form-button-group{
    display: flex;
    justify-content: right;
}

.form-btn{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-btn:hover {
    background: rgba(21, 21, 21, 0.16);
}

.complaint-form {
    flex: 1;
}

.complaint-status {
    flex: 1;
}

.steps {
    margin-top: 1rem;
}

.step-item.active .step-marker {
    background: #5755d9;
    color: #fff;
}

.step-item .step-marker {
    border: 2px solid #5755d9;
}

.user-info {
    display: flex;
    justify-content: space-between;
    animation: fadeIn 1s ease-out;
    min-width: fit-content;
    margin-right: 30px;
}

#userProfileButton, #settingsButton{
    cursor: pointer;
}

.profile-container__user-info{
    color: #fff;
}

.user-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    transition-duration: 0.2s;
}

.user-card:hover {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.7);
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.3rem;
}
.user-details h2 {
    color: white;
    font-size: 0.8rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 99;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: rgba(255, 255, 255, 0.04);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 250px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0.2s ease-out;
    z-index: 100;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.dropdown-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-container ul li {
    padding: 12px 15px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: background 0.15s ease-in-out;
}

.dropdown-container ul li  {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease-in-out;
}

.dropdown-container ul li:hover {
    background: rgba(255, 255, 255, 0.07);
}

.admin-response-accordion{
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
}

.toast-success {
    position: fixed;
    top: -50px;
    left: 50%;
    color: #fff;
    font-size: 0.8rem;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 250px;
    text-align: center;
    opacity: 0;
    transition: top 0.5s ease-out, opacity 0.5s ease-out;
    z-index: 120;
}

.toast-error{
    position: fixed;
    top: -50px;
    left: 50%;
    color: #fff;
    font-size: 0.8rem;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 250px;
    text-align: center;
    opacity: 0;
    transition: top 0.5s ease-out, opacity 0.5s ease-out;
    z-index: 120;
}

.toast-success.show {
    top: 20px;
    opacity: 1;
}

.profile{
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%) scale(0.9);
    background: rgba(255, 255, 255, 0.01);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    height: fit-content;
    padding: 10px;
    width: 250px;
    font-size: 0.8rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0.2s ease-out;
    z-index: 101;
}

.profile.show{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.profile ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.navbar-element {
    width: 45px;
    aspect-ratio: 1;
}

.complaint-status-content {
    display: flex;
    flex-direction: column;
}

.complaint-form .form-group {
    margin-bottom: 1rem;
}

.tile-header{
    display: flex;
    color: #fff;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.tile-title{
    margin-right: 10px;
}

.tab-item{
    text-align: center;
    margin-bottom: 10px;
    color: rgba(255,255,255,0.6);
}

footer{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.tg-button {
    background: transparent;
    position: relative;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(36, 161, 222);
    border-radius: 15px;
    outline: none;
    overflow: hidden;
    color: rgb(36, 161, 222);
    transition: color 0.1s 0.04s ease-out;
    text-align: center;
}

.tg-button span {
    margin: 10px;
}

.tg-button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.4s ease-out;
    z-index: -1;
}

.tg-button:hover {
    color: #fff;
    border: 1px solid rgb(36, 161, 222);
}

.tg-button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(36, 161, 222);
}


@media (max-width: 760px) {
    footer{
        display: none;
    }
    .complaint-container {
        flex-direction: column;
        margin: 0 5px 0 5px;
        justify-content: center;
        align-items: center;
    }

    .dropdown-container ul li {
        padding: 14px;
    }

    .toast-success{
        background: rgba(21, 21, 21, 0.79);
    }

    .profile{
        top: 85%;
        left: 50%;
    }
}
@media (max-width: 630px) {
    .navbar{
        margin-bottom: 2rem;
    }
}
