.container {
    margin-top: 100px;
    padding: 20px;
    max-width: 1200px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    height: fit-content;
}


.card-header{
    color: #fff;
}

.about-user{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    margin-bottom: 10px;
}

.accordion{
    color: #fff;
}

.accordion-comment{
    margin-left: 10px;
}

.created_at{
    display: flex;
    justify-content: center;
}

.created_at span{
    font-size: 14px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border: 1px solid #fff;
    width: fit-content;
}

.status-container{
    display: flex;
    justify-content: end;
}

.status-complaint{
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin-left: 10px;
    border: 1px solid #fff;
    text-align: center;
    margin-top: 10px;
    width: 140px;
}

.btn {
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn-error {
    background: #dc3545;
    color: white;
}

.btn-primary {
    background: #007bff;
    color: white;
}

.userInteraction-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.panel-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
}

.admin-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
